body {
    background-color: dimgray; 
    text-align: center; 
    color:aliceblue;
    font-family:Verdana;  
    max-width: 1200px; 
    width: 90%;
    margin: 0 auto;
}

a {
    color:aqua; 
    text-decoration:dashed;
}

a:hover {
    color:blue;
}

img{
    width: 70%;
}

figure{
    text-align: center;
}

figcaption{
    font-style: italic;
}

li, ol{
    text-align: left;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    color:burlywood;
}

figure tr:nth-child(odd) td { 
    background-color: #636363;
}

figure tr:nth-child(even) td { 
    background-color: gray;
}

form {
    background-color: #333;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

input[type="checkbox"] {
    margin-bottom: 20px;
}

button[type="submit"], button[type="reset"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover, button[type="reset"]:hover {
    background-color: #3e8e41;
}

::placeholder {
    color: darkgray;
}

/* Mobile */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}

/* Tablets */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}

/* Laptops */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}

/* Desktops */ 
@media screen and (min-width: 2500px) {
    .header-component {
      text-align: center;
    }
    
    .footer-component {
      text-align: center;
    }
  }
