body {
    background-color: dimgray; 
    text-align: center; 
    color:aliceblue;
    font-family:Verdana;  
    margin:auto;
}

a {
    color:aqua; 
    text-decoration:dashed;
}

a:hover {
    color:blue;
}

img{
    width: 70%;
}

figure{
    text-align: center;
}

figcaption{
    font-style: italic;
}

li{
    text-align: left;
}


