<nav>
<a href="https://www.instagram.com/hairby.lilyd/" target="_blank">Instagram</a>
✂
<a href="https://www.instagram.com/accenthairdesign/" target="_blank">My Salon</a>
</nav>

<p>Page Built By <a href="hazlewoodenterprises.com/index.html">Hazlewood Enterprises</a> &copy; 2025</p>
<p>Certified in <a href="https://www.freecodecamp.org/certification/DanielleHazlewood/responsive-web-design">Responsive Web Design</a> and <a href="https://www.freecodecamp.org/certification/DanielleHazlewood/javascript-algorithms-and-data-structures-v8">JADS</a></p>
