<nav>
    <a href="https://webpages.charlotte.edu/dhazlewo/" target="_blank">Charlotte WebPages</a>
    ||
    <a href="https://github.com/danielle-hazlewood" target="_blank">Github</a>
    ||
    <a href="https://danielle-hazlewood.github.io/" target="_blank">Github.io</a>
    ||
    <a href="https://danielle-hazlewood.github.io/itis3135/" target="_blank">ITIS3135.io</a>
    ||
    <a href="https://www.freecodecamp.org/DanielleHazlewood" target="_blank">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/801383154" target="_blank">Codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/daniellehazlewood/" target="_blank">LinkedIn</a>

</nav>
<p>Page Built By <a href="hazlewoodenterprises.com/index.html">Hazlewood Enterprises</a> &copy; 2024</p>
<p>Certified in <a href="https://www.freecodecamp.org/certification/DanielleHazlewood/responsive-web-design" target="_blank">Responsive Web Design</a></p>
